body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #mfa .container #mfa-row #mfa-column #mfa-box {
    margin-top: 200px;
    max-width: 600px;
    height: 300px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #mfa .container #mfa-row #mfa-column #mfa-box #mfa-form {
    padding: 10px;
  }
  #mfa .container #mfa-row #mfa-column #mfa-box #mfa-form #register-link {
    margin-top: -85px;
  }